#Ignore these folders.

_refs/
_fligths_accommodation/
qr/*
python/
matlab/
program/*
oscillations/**
arrhythmic/*
clocks/*

#Ignore these particular files.

Gmail - Re_ EEG workshop proposal.pdf
AI_for_MAtlab2Python_session-buddy-export-2026-06-22-20-40-00.json

google_folder_EEG_workshop.url
istanbul_medipol_university.lnk
bahar_guntekin.lnk
lutfu_hanoglu.lnk

#Ignore these file formats.

*.lnk
*.url

#Include specific files.

!program/EEG_workshop_v3.pdf
!program/EEG_Workshop_Poster.pdf
!qr/EEG_workshop_qr-code_circles.png
!arrhythmic/sgdc/
!oscillations/cfc/
!oscillations/cfc/videos/
!oscillations/cfc/videos/sz4_10ShuffleSignals_PSD_completo.mp4